sudo: false
language: python
matrix:
  include:
    - env: TOXENV=flake8
    - env: TOXENV=isort
    - env: TOXENV=benchmark
    - env: TOXENV=py27-1.8
    - env: TOXENV=py27-1.9
    - env: TOXENV=py27-1.10
    - env: TOXENV=py27-1.11
    - env: TOXENV=py33-1.8
      python: 3.3
    - env: TOXENV=py34-1.8
      python: 3.4
    - env: TOXENV=py34-1.9
      python: 3.4
    - env: TOXENV=py34-1.10
      python: 3.4
    - env: TOXENV=py34-1.11
      python: 3.4
    - env: TOXENV=py34-master
      python: 3.4
    - env: TOXENV=py35-1.11
      python: 3.5
    - env: TOXENV=py35-master
      python: 3.5
    - env: TOXENV=py36-1.11
      python: 3.6
    - env: TOXENV=py36-master
      python: 3.6
  fast_finish: true
  allow_failures:
    - env: TOXENV=py34-master
      python: 3.4
    - env: TOXENV=py35-master
      python: 3.5
    - env: TOXENV=py36-master
      python: 3.6

install:
  - pip install tox coveralls "virtualenv<14.0"

script:
  - tox

after_success:
  - coveralls
