sudo: false
language: python
matrix:
  include:
    - env: TOXENV=flake8
      python: 3.6
    - env: TOXENV=isort
      python: 3.6
    - env: TOXENV=benchmark
      python: 3.6
    - env: TOXENV=py36-2.2
      python: 3.6
    - env: TOXENV=py36-master
      python: 3.6
  fast_finish: true

install:
  - pip install tox coveralls "virtualenv<14.0"

script:
  - tox

after_success:
  - coveralls
